/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/resources/js/server.js
.env
.env.backup
accounts.txt
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

