.form-container {
	width: 50%;
	margin: 0 auto;
	border-radius: 10px;
	border: 2px solid gray;
	background-color: #fbfff6;;
	padding: 20px;
}

.form-container input {
	background-color: #fbfff6;;	
}

.bg-white {
	background-color: #fbfff6;;
	padding: 20px;
	border-radius: 10px;
}

.bj-p-20 {
	padding: 20px
}

.bj-p-10 {
	padding: 10px
}

.bj-w-45 {
	width: 45%
}

.bj-w-10 {
	width: 10%;
}

.bj-border-b-hidden{
	border-bottom: hidden;
}
#bj-skill {
	border-top: hidden;
}

.bj-font-cursive {
	font-family: cursive;
}
.jb-back-sm-btn {
	display: flex;
}



div .bj-border-r-3.bj-border-radius-skill {
	border-bottom: hidden;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-radius: 3px
}



.bj-btn-prime {

	background: #837629;
	color: #fbfff6;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	border-color: #9c8f41

}

.bj-p-input {
	padding: 10px 12px;
}

caption {
	caption-side: top;
	text-align: start;
	padding-bottom: 10px;
	font-size: 18px
}

.bj-btn-prime:hover {
	background-color: #675d21;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
	color: #fbfff6;
}

.bj-btn-prime:focus {
	outline: none;
    box-shadow: 0px 0px 8px 2px rgba(184, 167, 50, 0.5);
}

.bj-role {
	padding: 0 0 10px 0;
}

.bj-py-10 {
	padding: 10px 0
}

.bj-right-15 {
	right: 15px;
}

.bj-top-10 {
	top: 10px
}

.bj-border-bottom {
	border-bottom: 1px solid;
}

.bj-m-32-auto {
	margin: 32px auto;
}



.bj-font-12 {
	font-size: 12px;
	margin: 8px 0;
}
.bj-btn-secondary {
	background-color: #21807b;
}

.bj-btn-secondary:hover {
	background-color: #1a6a66;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
	color: #fbfff6;
}

strong {
	font-size: 16px;
}

.bj-btn-secondary:focus {
	outline: none;
    box-shadow: 0px 0px 8px 2px rgba(184, 167, 50, 0.5);
}

.bj-text-secondary {
	color: #23807c;
}

.table.table-striped th {
	background-color: #fbfff6;
}

table a {
	color: #4f4a47;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
	background: #99902c;
	color: #fbfff6;
}

.table-striped > tbody > tr:nth-of-type(odd) button {
	color: #fbfff6;
}

.table-striped > tbody > tr:nth-of-type(even) > * {
	background: #fbfff6;
	color: #238a85;
}

.table-striped > tbody > tr:nth-of-type(even) a {
	color: #238a85;
}

.table-striped > tbody > tr:nth-of-type(odd) a {
	color: #fbfff6;
}

.table-striped > tbody > tr:nth-of-type(even) button {
	background: #fbfff6;
	color: #238a85;
}


a {
	text-decoration: none;
}


.jb-skill {
	cursor: pointer
}

.jb-skill:hover{
	background: #4f4a47;
	color: #fbfff6;
}

.bj-cursor-pointer {
	cursor: pointer;
}

.bj-company-container:hover {
	border-color: #99902c;

}

.bj-btn-table {
	background-color: #447d7a;
}

.ql-container {
  min-height: 10rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ql-editor {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.menubar-links a {
	font-size: 12px;
}

.h-100vh {
	height: 100vh;
}

.bg-one {
	background: #fbfff6;
}


.bg-two {
	background: #4f4a47;
}

.bj-margin-auto {
	margin: 0 auto;
}

.bj-gradient {
	background: linear-gradient(165deg, #4f4a47, #fbfff6, #238a85)

}

.bj-gradient-footer {
	background: linear-gradient(45deg, #238a85, #4f4a47);
}

.bj-w-45 {
	width: 45%;
}

.text-prime {
	color: #fbfff6;
}

.text-two {
	color: #4f4a47;
}

.m-auto {
	margin: 0 auto;
}

.bj-border {
	border: 2px solid #4f4a47;
}

.bj-border-prime {
	border: 2px solid #238a85;
}


.bj-border-radius {
	border-radius: 10px;
}

.bg-three {
	background-color: #238a85;
}

.bg-three:hover {
	background-color: #1b7874;
	color: #f7fffe;
}

.bg-3 {
	background-color: #238a85;
	height: 1px;
}

.bj-w-40 {
	width: 40%;
}

.bj-w-20 {
	width: 20%;
}

.bj-w-60 {
	width: 60%;
}

.bj-border-img {
	border: 2px solid #4f4a47;
}

.bj-radius-10 {
	border-radius: 10px;
}

.bj-mt-12 {
	margin-top: 12px;
}

.bj-input {
	width: 100%;
    padding: 10px 12px;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bj-input:focus{
	background-color: #ecf9f7;
}

.bj-col-3 {
	grid-template-columns: 20% 50% 20%;
}

.bj-grid-col-3 {
	grid-template-columns: 20% 20% 20% 20%;
}

.bj-rows-auto {
	
}

.bj-w-66 {
	width: 66%;
}

.bj-w-fit-content {
	width: fit-content;
}

.bj-font-cursive {
	font-family: cursive;
}

.bj-font-logo {
	font-size: 36px;
}

.bj-min-height {
	min-height: 100vh;
}

.bj-text-bold {
	font-weight: bold;
}

.bj-btn {
	padding: 10px 16px;
	border-width: 1px;
	border-style: #dee2e6;
	border-radius: 0.375rem;
	border-color: #8f1d1d00;

}

.bj-amplify {
	background: linear-gradient(45deg, #4f4a47, transparent)
}

.bj-end {
	justify-content: flex-end
}

.bj-btn:hover {
	background-color: #817921;
}

.bj-vertical-align {
	vertical-align: middle;
}

.bj-gap-4 {
	gap: 4px;
}

.bj-gap-8 {
	gap: 8px;
}
.bj-col-3 {
	grid-template-columns: repeat(3, 1fr)
}

.bj-flex-column {
	display: flex;
}

.bj-place-self-start {
	place-self: start;
}

.bj-px-16 {
	padding: 0 16px
}

.bj-menu-animation {
	animation: menu-animation 1s 1;
}

.bj-close {
	top: 10px;
	right: 14px;
}



@keyframes apply-pbar{
	from {
		width: 0%;
	}

	to {
		width:33%;
	}
}

@keyframes resume-pbar{
	from {
		width: 33%;
	}

	to {
		width:66%;
	}
}

@keyframes question-pbar{
	from {
		width: 66%;
	}

	to {
		width:100%;
	}
}

@keyframes menu-animation {
	0% {
		opacity: 0;

	}
}


#jb-apply-pbar {
	animation: apply-pbar 1.2s 1;
}

#jb-resume-pbar {
	animation: resume-pbar 1.2s 1;
}

#jb-question-pbar {
	animation: question-pbar 1.2s 1;
}

/*@media(min-width: 568px){*/
@media(min-width: 280px){
	.jb-sm-card-w {
		width: 100%;
	}	

	.jb-all-jobs {
		display: none
	}

	.bj-card-w {
		width: 100%
	}

	.bj-sm-none {
		display: none
	}

	.bj-d-sm-none {
		display: none;
	}

	.bj-menubar-icon {
		display: block;
	}

	.menubar-links {
		/*flex-direction: column;*/
		/*justify-content: end;*/
		/*align-items: end;*/
	}

	.bj-d-sm-none {
		display: none
	}

	.bj-d-responsive {
		display: none;
	}

	.bj-d-sm-responsive {
		display: flex;
	}

	.bj-flex-sm-column {
		flex-direction: column;
	}

	.bj-space-between {
		justify-content: space-between;
	}

	.bj-align-items-center {
		align-items: center;
	}

	.bj-align-items-end {
		align-items: end;
	}

	.bj-back-mb {
		margin-bottom: 8px;
	}

	.bj-w-fit-content {
		width: fit-content
	}

	.bj-text-align {
		text-align: start
	}
}




@media(min-width: 768px) {
	.bj-menubar-icon {
		display: none;
	}

	.menubar-links {
		justify-content: space-around;
		align-items: center;
		flex-direction: row;
	}

	.bj-text-align {
		text-align: center
	}
}

@media(min-width: 992px){
	.jb-lg-card-w {
		width: 45%;
	}

	.jb-lg-form{
		margin: 0 auto;
		width: 50%
	}

	.jb-all-jobs {
		display: block
	}

	.w-lg-50 {
		width: 50%;
	}

	.jb-back-btn {
		display: none
	}

	.bj-card-w {
		width: 50%
	}

	.bj-msg-chat-w {
		width: 25%
	}

	.bj-close {
		display: none
	}

	.bj-back-mb {
		margin-bottom: 0px
	}

}



