.form-container {
	width: 50%;
	margin: 0 auto;
	border-radius: 10px;
	border: 2px solid gray;
	background-color: white;
	padding: 20px;


}

.form-container input {
	background-color: white;	
}

.bg-white {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	border-color: white;
}


.jb-skill {
	cursor: pointer
}

.jb-skill:hover{
	background: #dcdcdccf;
}

  .ql-container {
  min-height: 10rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ql-editor {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}


@media(min-width: 568){
	.jb-sm-card-w {
		width: 100%;
	}	
}

@media(min-width: 992){
	.jb-lg-card-w {
		width: 45%;
	}	
}

